
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Marck+Script&family=Poppins:wght@300;400;500;600&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

body{
  height: 100vh;
  width: 100vw;
  background-color: #f0f0f0;
  overflow-x: hidden;
}
/* nav */
.content{
  /* max-width: 1250px; */
  margin: auto;
  padding: 0px 30px;
}
.navbar{
  position: fixed;
  z-index: 5;
  width: 100vw;
  padding: 25px 0;
  transition: all 0.3s ease;
}
.navbar.sticky{
  padding: 10px 0;
  background: #1b1b1b;
  box-shadow: 0px 3px 5px 0px rgba(0,0,0,0.1);
}
.navbar .content{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.navbar .logo a{
  font-family: 'Marck Script', cursive;
  color: #fff;
  font-size: 50px;
  font-weight: 600;
  text-decoration: none;
}

.menu-list {
  margin-left: auto;
}

.navbar .menu-list{
  display: flex;
  align-items: center;
}
.menu-list li{
  list-style: none;
}
.menu-list li a{
  color: #fff;
  font-size: 18px;
  font-weight: 500;
  margin-left: 25px;
  text-decoration: none;
  transition: all 0.3s ease;
}
.menu-list li a:hover{
  color:  rgb(51, 119, 73);
}
.banner{
  height: 100vh;
  width: 100vw;
  background: url("../img/banner.jpg") no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}

.icon{
  color: #fff;
  font-size: 20px;
  cursor: pointer;
  display: none;
 
  
  
}
.icon.cancel-btn{
  position: absolute;
  right: 30px;
  top: 20px;
  display: none;
}
.navbar.sticky .icon.cancel-btn{
  top: 10px;
}
/* responsiviteti */
@media (max-width: 868px) {
  
  .icon{
    display: block;
    height: 50px;
    width: 50px;
    text-align: center;
    /* background-color: #000; */
    border-radius: 50%;
    z-index: 9;
    display: flex;
  align-items: center; 
  justify-content: center;
  }
  .icon.cancel-btn{
    display: none;
    /* background-color: #1b1b1b; */
    position: absolute;
  }
  .icon.cancel-btn.show{
    display: block;
  }
  .icon.hide{
    display: none;
  }
  .navbar .menu-list{
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100%;
    background-color:  #1b1b1b;
    display: block;
    padding: 40px 0;
    text-align: center;
    clip-path: circle(25px at calc(100% - 38px) calc(0% + 78px));
    transition: all 0.3s ease;
  }

  .navbar.sticky .menu-list{
    clip-path: circle(25px at calc(100% - 38px) calc(0% + 75px));
  }
  .navbar .menu-list.active{
    clip-path: circle(75%);
  }
  .navbar .menu-list li{
    margin-top: 45px;
    /* background-color:  #1b1b1b; */
  }
  .navbar .menu-list li a{
    font-size: 23px;
  }
}

/* about */

.about-img {
  border-radius: 20px;
  display: block;
  width: 400px;
  height: 580px;
  object-fit: cover;
}

.about {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  margin: 30px 100px;
}

.container {
  display: flex;
  align-items: stretch;
 }

.content {
  display: flex;
  flex-direction: column;
  align-items: stretch;
}

.story {
  width: 96%;
  background-color: #fff;
  padding: 10px;
  box-sizing: border-box;
  margin-bottom: 20px;
  margin-left: 30px;
  border-radius: 20px;
 
}


.missions,
.numbers {
  width: calc(50% - 30px);
  background-color: #fff;
  padding: 10px;
  box-sizing: border-box;
  margin-left: 30px;
  margin-bottom: 20px;
  border-radius: 20px;
}

.lista{
  margin: 20px;
}

.numbers{
  text-align: center;
  font-size: 30px;
}

.line{
  display: flex;
  flex-wrap: wrap;
}

h1,
h2,
p {
  margin: 0;
}

ul {
  padding: 0;
}

#year,
#money {
  font-weight: bold;
}

/* responsiviteti */
@media (max-width: 660px) {
  .about {
    margin: 30px 0px;
  }

  .story{
    margin: 0;
  }

  .line{
    margin-left: -30px;
    margin-right: 30px;
  }

  .container {
    flex-direction: column;
    margin: 0;
  }

  .about-img{
    margin: 50px;
  }

  .content{
    margin-top: 20px; /* Add some space between image and content on smaller screens */
  }

  .story,
  .missions,
  .numbers {
    width: 100%;
    margin-bottom: 20px;
  }

  .line {
    flex-direction: column;
  }
}

/* table */
.container2 h2{
  text-align: auto;
}

.container2 {
	/* position: absolute; */
  position: relative;
	top: 25%;
	left: 75%;
	transform: translate(-50%, -50%);
}

table {
	width: 800px;
	border-collapse: collapse;
	overflow: hidden;
	box-shadow: 0 0 20px rgba(0,0,0,0.1);
}

th,
td {
	padding: 15px;
	background-color: rgba(255,255,255,0.2);
	color: #fff;
}

th {
	text-align: left;
}

tr{
  background-color: rgb(211, 208, 211);
}

td{
  color: #000;
}

thead th{
		background-color: #1d4f00;
}

tbody tr:hover{
			background-color: rgba(255,255,255,0.3);
	}

	td:hover:before{
				content: "";
				left: 0;
				right: 0;
				top: -9999px;
				bottom: -9999px;
				background-color: rgba(255,255,255,0.2);
				z-index: -1;
			
}
@media screen and (max-width: 600px) {
  .container2{
    left: 51%;
  }
  table {
      width: 100%;
      box-shadow: none;
  }

  th, td {
      padding: 10px;
      font-size: 12px;
  }
}

/* text us */

      
.cta-container {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: auto;
  padding: 20px;
  margin: 80px auto;
  /* border-radius: 20px; */
  /* background-color: #d8d7d7; */
  background-color: rgb(211, 208, 211);
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
  /* background-image: url('background.jpeg'); */
}

.cta-text {
  flex: 1;
  max-width: 100%;
  padding: 20px;
}

.cta-text h1 {
  font-size: 2.5rem;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  line-height: 1.2;
  color: #1d4f00;
  margin-bottom: 10px;
}

.cta-text p {
  font-size: 1.5rem;
  color: #070000;
  margin-bottom: 20px;
}

.cta-button {
  display: inline-block;
  background-color: #1a7d16;
  color: #fff;
  font-size: 1.2rem;
  padding: 15px 30px;
  border-radius: 5px;
  text-decoration: none;
  margin-bottom: 20px;
  transition: background-color 0.3s ease-in-out;
  border: 2px solid #044000;
}

.cta-button:hover {
  background-color: #00a71f;
}

.cta-image {
  flex: 1;
  max-width: 100%;
  margin: 20px 0;
  border-radius: 20px;
  overflow: hidden;
}

.cta-image img {
  width: 680px;
  height: 350px;
  object-fit:cover;
  border-radius: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

@media (max-width: 768px) {
  .cta-container {
    padding: 20px;
    display: flex;
    flex-direction: column;
  }

  .cta-image{
    width: 85%;
    padding: 0 auto;
  }
  .cta-text {
    padding: 10px;
  }
}

/* causes */
#ca{
  text-align: center;
  color: #333;
 
}
.cause-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  padding: 2px 40px;
}
.img1, .img2, .img3{
  height: 250px;
  width: 330px;
  border-radius: 10px;
} 
.cause-card {
  background-color: #fff;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  overflow: hidden;
  margin: 30px;
  width: 350px;
  text-align: center;
  transition: transform 0.3s ease-in-out;
}

.cause-card:hover {
  transform: scale(1.03);
}

.titulli_causes{
  color: #333;
  margin: 5px 0;
}

.cause-card p {
  color: #555;
  padding: 0 20px;
  margin-bottom: 20px;
}

.progress-bar {
  height: 15px;
  background-color: #ddd;
  border-radius: 8px;
  overflow: hidden;
  margin: 0 20px;
}

.progress {
  height: 100%;
  background-color: rgb(51, 119, 73);
  border-radius: 8px;
  transition: width 0.5s ease;
}

.goal-info {
  display: flex;
  justify-content: space-between;
  padding: 0 20px;
  margin-bottom: 20px;
}

.donate-btn {
  background-color: rgb(51, 119, 73);
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  text-decoration: none;
  font-size: 1.2rem;
  transition: background-color 0.3s ease, transform 0.2s ease;
  cursor: pointer;
  margin: 10px;
}

.donate-btn a{
  text-decoration: none;
  color: white;
}

.donate-btn:hover {
  background-color: #38bc43;
  transform: scale(1.05);
}

/* help */
.faqe {
  margin: 50px;
  padding: 100px;
  box-sizing: border-box;
  display: flex;
  align-items: flex-end;
  justify-content: center;
   background:linear-gradient(to bottom, rgb(211, 208, 211) 50%,#fff 50%);
   /* background-color: rgba(184, 233, 202, 0.738);  */
  background-repeat: no-repeat;
  border-radius: 20px;
  
}
.faqe .start{
  color:#1d4f00;
  position:relative;
  top: -200px;
  left:50px;
  
}
.block {
  position: relative;
  width: 180px;
  height: 180px;
  background-color: white;
  border: 3px solid green ;
  margin: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  font-size: 16px;
  border-radius: 20px;
  cursor: pointer;
}

.block:hover{
  /* background-color: #1a5118 */
    background-color: #d3ccccf9;
}

.block-1:hover{
  width: 210px;
  height: 210px;
}

.block-2:hover{
  width: 280px;
  height: 280px;
}

.block-3:hover{
  width: 330px;
  height: 330px;
}

.block::before {
  content:url('');
  background-image: url('../img/piggy-bank.png'); 
  background-size: cover;
  font-size: x-small;
  position: absolute;
  top: -40px; 
  left: 50%;
  transform: translateX(-50%) ;
  width: 80px; 
  height: 80px; 
  background-color: #fff;
  border: 3px solid green; 
  border-radius: 50%;
  z-index: 1;
  
}
.block-2 {
  position: relative;
  width: 250px;
  height: 250px;
  background-color: white;
}
.block-2::before {
  content:url('');
  background-image: url('../img/marketing.png'); 
  font-size: x-small;
  background-size: cover;
  position: absolute;
  top: -50px;
  left: 50%;
  transform: translateX(-50%);
  width: 100px;
  height: 100px;
  background-color: #fff;
  border: 3px solid green;
  border-radius: 50%;
  z-index: 1;
}
.block-3 {
  position: relative;
  width: 270px;
  height: 300px;
  background-color: white;

}
.block-3::before {
  content:url('');
  background-image: url('../img/volunteer.png'); 
  background-size: cover;
  font-size: x-small;
  position: absolute;
  top: -50px;
  left: 50%;
  transform: translateX(-50%);
  width: 100px;
  height: 100px;
  background-color: #fff;
  border: 3px solid green;
  border-radius: 50%;
  z-index: 1;
}
.content a{
  font-weight: bold;
  text-decoration: none;
  justify-content: center;
  color: rgb(0, 0, 0);
 font-size: 30px;
}

.content-2 a{
  font-weight: bold;
  text-decoration: none;
  justify-content: center;
  margin-left: 30px;
  color: black;
 font-size: 30px;
}
.content h4,.content-2 h4{
  text-align: center;
  color: black;

} 
.content-3 a{
  font-weight: bold;
  text-decoration: none;
  justify-content: center;
  color: black;
 font-size: 30px;
 margin: 80px;

}
.content-3 h4{
  text-align: center;
  color: black;
  padding: 10px;
}


@media only screen and (max-width: 768px) {
  .faqe {
      display: flex;
      flex-direction: column;
      margin: 60px 10px;
      padding: 150px 10px;
  }

  .faqe .start{
    top: -80px;
    left: -0px;
  }
  

  .block {
      width: 450px;
      max-width: none;
      margin: 10px auto;
      font-size: 30px;
  }

  .block-1:hover,
  .block-2:hover,
  .block-3:hover {
      width: 100%;
  }

  .block::before,
  .block-2::before,
  .block-3::before {
      width: 60px;
      height: 60px;
      top: -30px;
  }

  .content a,
  .content-2 a,
  .content-3 a {
      padding: 40px;
      text-align: center;
      font-size: 40px;
  }
 
}

  /* why donate */
.container3 {
  background-color: rgba(184, 233, 202, 0.738);
    width: 90%;
  margin: 0 auto;
  padding: 50px 20px; 
  border-radius: 20px;
}

.header {
  text-align: center;
  margin-bottom: 50px;
}

.header h1 {
  font-size: 3rem;
  color: #333333;
}

.header p {
  font-size: 1.2rem;
  color: #666;
}

.features {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  
}

.feature {
  flex-basis: calc(45% - 20px); 
  margin-bottom: 20px;
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding: 20px;
  text-align: center;
  border-radius: 20px;
}

.feature h2 {
  font-size: 2rem;
  /* color: #4fd6a0; */
  color: #1d4f00;
  margin-bottom: 20px;
}
.feature h1{
  color:  #4fd6a0;
  text-align: start;
}

.feature p {
  font-size: 1.1rem;
  color: #666;
}

@media only screen and (max-width: 768px) {
  .feature {
      flex-basis: 100%;
  }
}


/* volunteer */

#Volunteer {
	font-family: Arial, sans-serif;
	margin: 10px 0 ;
	padding: 20px;
  width: 100vw;
    /* background-color: rgba(4, 49, 23, 0.692);  */
   background-color: rgba(184, 233, 202, 0.738); 
    display: flex;
}

.vol {
    display: flex;
}

.djathtas {
	width: 600px;
    /* padding: 20px 200px; */
	margin: 20px 100px;
}

.forma{
	width: 500px;
	border-radius: 20px;
	padding: 20px 50px;
	margin: 20px 50px;
	background-color: #ecebeb;
}

.title {
	text-align:left;
	margin-bottom: 30px;
}

.form {
	max-width: 600px;
	margin-left: 0;
	display: flex;
	flex-direction: column;
	gap: 5px;
    justify-content: flex-start;
}

.label {
	font-weight: bold;
}

input[type="text"],
input[type="email"],
textarea {
	padding: 5px;
	border: 1px solid #ccc;
	border-radius: 5px;
}

input[type="file"] {
	padding: 5px;
	border: 1px solid #ccc;
	border-radius: 5px;
	margin-bottom: 10px;
}

button[type="submit"] {
	background-color:  rgba(4, 49, 23, 0.37);
	color: white;
	padding: 10px;
	border: none;
	border-radius: 5px;
	cursor: pointer;
}

button[type="submit"]:hover {
	background-color: rgba(4, 49, 23, 0.692);
}

.djathtas img{
    height: 350px;
    width: 350px;
    border-radius: 50%;
	display: flex;
    margin: auto;
   
}

.djathtas h3{
    font-weight: bold;
    font-style: italic;
    text-align: center;
} 

@media (max-width: 850px) {

.vol{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.djathtas {
  width: 100%;
  max-width: 100%; 
  margin: 20px 80px;
}

.forma {
  width: 80%;
  border-radius: 20px;
  padding: 20px 20px;
  background-color: #ecebeb;
}

}

/* contact */

#contact{   
  display: flex;
  justify-content: center;
  max-width: 100vw;
  display: flex;
 }
 .contact-card {
  flex: 1;
  margin-right: 15px;
  
 }
 
 .contact-form {
  flex: 1;
  gap: 10px;
  margin-right:  15px;
  
 }

 .contact-card, .contact-form{
 
  
  border-radius: 20px;
  padding: 40px;
  max-width: 500px;
  margin: 50px;
  

  
 }
 .contact-form{
  background-color: rgba(184, 233, 202, 0.738);
 }
 .contact-form input[type="text"],
.contact-form input[type="email"],
.contact-form textarea {
display: block;
  height:calc(100%-20px);
width: 100%;
  height: 30px;
  
  border-radius: 12px;
  border: 0px;
}

.contact-form a{
  text-decoration: none;
  color: black;
}
.contact-card a{
  text-decoration: none;
  color: black;
}
.contact-card img{
  width: 50px;
  height: 50px;
  border-radius: 50%;
}
.contact-card img {
  float: left;
  margin-right: 10px; 
  border-radius: 50%;
}
.contact-form p{
  display: flex;
  flex-wrap: wrap;

}

.contact-form input[type="submit"]{
border-radius: 5px;
width: 50%;
height: 30px;


}
.contact-form input[type="submit"]:hover{
  background-color:rgb(15, 125, 74);
}
.contact-info h2{
  color: rgb(15, 125, 74);
}

#contact p{
  padding: 0;
}


@media (max-width: 650px) {
  #contact {
      flex-direction: column;
      justify-content: space-between;
      align-items: flex-start;
      padding: 10px;
  }

 .contact-card, .contact-form{
  margin: auto;
  width: 80%;
 }
}


/* footer */
footer{
  bottom: 0;
  left: 0;
  right: 0;
  background: #111;
  height: auto;
  width: 100%;
  
  padding-top: 20px;
  color: #fff;
}
.footer-content{
  margin: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  /* text-align: justify; */
}
.footer-content h3{
  font-size: 2.1rem;
  font-weight: 500;
  text-transform: capitalize;
  line-height: 3rem;
}
.footer-content p{
  max-width: 800px;
  margin: 10px auto;
  line-height: 28px;
  font-size: 14px;
  color: #cacdd2;
}
.socials{
  list-style: none;
  display: flex;
  /* align-items: center;
  justify-content: center; */
  margin: 1rem 0 3rem 0;
}
.socials li{
  margin: 0 10px;
}
.socials a{
  text-decoration: none;
  color: #fff;
  padding: 5px;

}
.socials a i{
  font-size: 1.5rem;
  width: 20px;


  transition: color .4s ease;

}
.socials a:hover i{
  color:  rgb(51, 119, 73);
}

.footer-content, .map-section{
  display: inline-block;
}

.map-section{
  justify-content: flex-end;
  margin-right: 50px;
  float: right;
}

.footer-bottom{
  background: #000;
  width: 100vw;
  padding: 20px;
  padding-bottom: 40px;
  text-align: center;
}
.footer-bottom p{
float: left;
  font-size: 14px;
  word-spacing: 2px;
  text-transform: capitalize;
}
.footer-bottom p a{
color: rgb(51, 119, 73);
font-size: 16px;
text-decoration: none;
}
.footer-bottom span{
  text-transform: uppercase;
  opacity: .4;
  font-weight: 200;
}
.footer-menu{
float: right;

}
.footer-menu ul{
display: flex;
}
.footer-menu ul li{
padding-right: 10px;
display: block;
}
.footer-menu ul li a{
color: #cfd2d6;
text-decoration: none;
}
.footer-menu ul li a:hover{
color: rgb(51, 119, 73);
}
/* responsiviteti  */
@media (max-width:500px) {
  .footer-menu ul{
    display: flex;
    margin-top: 10px;
    margin-bottom: 20px;
  }
  }

  @media (max-width: 868px) {
    .footer-content, .map-section {
      padding: 20px;
      display: block; /* Stack elements vertically */
      margin-right: 0; /* Remove or adjust margin */
      float: none; /* Remove the float */
    }
  }






